table {
  width: 80%;
  border-collapse: separate;
  border-spacing:0 0px;
  opacity: 0.8;
}

.Post {
  margin: 8% auto;
  border: 3px solid #000000;
  background-color: #dddddd;
}

.Post .PostHeader {
  border-bottom: 3px solid #000000;
  background-color: #575757;
}

#PostDetails {
  color: #FFFFFF;
  text-align: right;
  font-family: 'Raleway';
  margin: 15px 15px 15px;
}

#PostTitle {
  text-align: left;
  font-size: 40px;
  font-family: 'Raleway';
  margin: 15px 15px 15px;
}

#PostText {
  font-size: 22px;
  text-align: justify;
  font-family: 'Raleway';
  color: #000000;
  margin: 35px 35px 35px;
  opacity: 1;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}