{% load static %} {% load render_bundle from webpack_loader %}
<html>

<head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div id="root">
    </div>
    {% render_bundle 'main' %}
</body>


</html>